.h1{
font-weight: bold;
}


.col-lg-2 {
    font-weight: bold;
    color: #444;
    font-size: 14px;
    float:none;
    margin: 15px auto;
    align-content: center;


}

.input[type=text], textarea{
    padding: 4px 3px;
    border: 1px solid #aaa;
    background: #fff;
    width: 40%;
    resize: none;
    vertical-align:top;
}


.mantenimiento{
  width: 80%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.reports_container {

  border-left: 4px solid #2d94da;
  padding-left: 10px;
  margin-left: 10px;

}

.btn--group .btn1 {
  border-radius: 30px 0px 0px 30px;
}

.btn--group .btn2 {
  border-radius: 0px 30px 30px 0px;
}

.btn--add {
  border-radius: 30px 0px 0px 30px;
}


.trans{
  width: 400px;
  display: flex;
  justify-content: center;
}

card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 10px;


}
